@import '../comonStyles.scss';

.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: $dark-glass-color;
  cursor: default;

  &__header{
    align-self: flex-start;
    color: $active-color;
    margin-bottom: 10px;
  }
}

.stage{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 30px;

  &__info{
    display: flex;
    align-items: flex-start;
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    background-color: whitesmoke;
  }
}

.digit-wrapper{
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: $active-color;
}

.info__text{
  padding: 3px 0;
}

.settings-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $active-color;
  padding: 10px;
  border-radius: 5px;

  &__image{
    padding: 10px;
  }
}

.game-example__image{
  width: 330px;
}