*{
  --train-grad: linear-gradient(45deg, #a8ff78, #78ffd6);
  --play-grad: linear-gradient(45deg, #8a2387, #e94057, #f2c821);
  --main-dark: rgba(0, 0, 0, 0.878);
  --dark-grad: #273046;
  --active-color: rgb(245, 151, 10);
}