@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: bolder;
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Medium.ttf);
  font-weight: bold;
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Light.ttf);
  font-weight: lighter;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;
  --green: #4B9200;
  --orange: #F9804B;
  --orange-grad: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  --pink-grad: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  --red: #D31414;
  --black: #000;
  --black-blue: #333B41;
  --gray: #767474;
  --gray-smoky: #ABABAB;
  --light-gray: #F1F3F2;
  --white: #FFF;
  --frosted-glass-white: rgba(253, 253, 255, 0.52);
}

.logo{
  position: relative;
  left: 10px;
  top: 2px;
  width: 76px;
  height: 50px;
  padding: 2px 3px;
  border: 1px solid var( --light-gray);
  text-decoration: none;
  text-align: center;
}

.logo__text{
  margin: 0;
  font-size: 1.2rem;
  font-weight: normal;
  color: var(--light-gray);
}

.logo__image{
  position: absolute;
  left: 10px;
  bottom: 12px;
}

.btn{
  width: 298px;
  height: 54px;
  outline: none;
  border: none;
  border-radius: 5px; 
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: white;
  background: var(--orange); 
}

.btn:hover{
  background: var(--green);
  cursor: pointer;
}

.btn_round{
  border-radius: 25px;
}

.form-btn{
  padding: 0;
  width: 129px;
  height: 42px;
  border: 1px solid var(--black-blue);
  font-size: 1rem;
  color: var(--black-blue);
}

.form-btn:hover{
  border: 1px solid var(--green);
  color: var(--green);
  cursor: pointer;
}

/*Tooltip*/

.tooltip{
  position: relative;
  width: 138;
  height: 88px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--black);
  background: var(--white);
}

.tooltip__arrow{
  position: absolute;
  top: -5px;
  left: 51px;
  width: 10px;
  height: 10px;
  border-top: 1px solid var(--black);
  border-left: 1px solid var(--black);
  background: var(--white);
  transform: rotate(45deg);
}

.tooltip__btn{
  width: 135px;
  height: 31px;
  border: none;
  border-radius: 5px;
  background: var(--light-gray);
}

.tooltip__btn a{
  text-decoration: none;
  color: var(--green);
}

.tooltip__btn:hover a{
  color: var(--orange);
}

.tooltip__name{
  margin: 0;
  font-weight: bold;
}

.tooltip__place{
  margin: 0;
  margin-bottom: 15px;
}

.custom-input{
  position: relative;
  width: 250px;
  height: 22px;
  padding: 16px 9px;
  border-radius: 5px;
  border: 1px solid var(--gray);
  outline: none;
  font-size: 1rem;
  background: transparent;
}

.custom-input:focus{
  border-color: var(--green);
  color: var(--green);
}

.custom-input:invalid{
  border-color: var(--red);
  color: var(--red);
}

.custom-input::-webkit-inner-spin-button{
  display: none;
}

@media screen and (min-width: 1000px) and (max-width: 1080px) {

  .logo{
    left: 15px;
    height: 45px;
    width: 82px;
  }

  .logo__text{
    font-size: 1.1rem;
  }

  .logo__image{
    left: 11px;
    bottom: 8px;
  }

  
  
}