@keyframes fromBottom {
  from{
    bottom: -60px;
  }
  to{
    bottom: 0px;
  }
}

/*Watch your favorite animal block*/
.watch{
  width: 100%;
  height: 700px;
  background: center/cover no-repeat url(./assets/images/Giant\ Panda.jpg);
}

.watch-wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

.watch__circle{
  position: relative;
  right: 100px;
  top: 12px;
  width: 465px;
  height: 465px;
  border-radius: 50%;
  background: var(--orange);
}

.watch__title{
  position: relative;
  top: 70px;
  left: 89px;
  margin: 0;
  padding: 0;
  font-size: 7rem;
  font-weight: bolder;
  line-height: 80px;
  letter-spacing: -4px;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
}

.watch__title span{
  color: yellow;
}

.watch .btn{
  position: relative;
  top: 80px;
  right: 93px;
}

/* Backstage block*/
.backstage{
  width: 100%;
  min-height: 635px;
  background: right no-repeat url(./assets/images/flower_foto1.png);
}

.backstage-wrraper{
  display: flex;
  justify-content: center;
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding-top: 140px;
  padding-left: 13px;
}

.backstage__text-block{
  padding-left: 89px;
}

.backstage__title{
  margin: 0;
  letter-spacing: 0.3px;
  font-weight: normal;
  font-size: 3rem;
}

.backstage__text{
  padding-top: 6px;
  letter-spacing: 0.1px;
}
.backstage__text:last-child{
  margin: 0;
  padding-top: 35px;
  line-height: 22px;
}

.backstage__subtitle{
  margin: 0;
  padding-top: 40px;
  font-size: 1.5rem;
}

/*Zoos block*/
.zoos{
  width: 100%;
  height: 1195px;
  background: bottom left no-repeat url(./assets/images/palm_foto.png),
              bottom right no-repeat url(./assets/images/strelitzia\ 1.png);
}

.zoos-wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;
}

.animals{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 900px;
  margin: 0 auto;
  padding-top: 28px;
  overflow: scroll;
}

.animals::-webkit-scrollbar{
  display: none;
}

.arrow{
  position: absolute;
  top: 48%;
  transform: translate(0,-50%);
  z-index: 3;
}

.arrow_left{
  left: -72px;
}

.arrow_right{
  right: -90px;
}

.animal{
  position: relative;
  margin-left: 6px;
  margin-right: 23px;
  margin-bottom: 20px;
  width: 362px;
  height: 426px;
  border: 1px solid var(--orange);
  border-radius: 5px;
  overflow: hidden;
  transition: background-size 3s ease-out;
}

.animal:hover{
  background-size: 125%;
}

.animal_panda{
  background: center/cover no-repeat url(./assets/images/panda.jpg);
}

.animal_sloth{
  background: center/cover no-repeat url(./assets/images/sloth.jpg);
  
}

.animal_eagle{
  background: center/cover no-repeat url(./assets/images/eagle.jpg);
}

.animal_cheetah{
  background: center/cover no-repeat url(./assets/images/cheetahis.jpg);
}

.animal_gorila{
  background: center/cover no-repeat url(./assets/images/gorrila.jpg);
}

.animal_penguin{
  background: center/cover no-repeat url(./assets/images/penguin.jpg);
}

.animal_alligator{
  background: center/cover no-repeat url(./assets/images/croco.jpg);
}
.animal__sign{
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  flex-direction: column;
  width: 100%;
  padding-top: 10px;
  background: var(--white);
}

.animal:hover .animal__sign{
  animation: fromBottom 1s ease-out;
  display: flex;
}

.animal__food-image{
  position: absolute;
  bottom: 15px;
  right: 12px;
}

.animal__location{
  margin: 0;
  padding-bottom: 15px;
  padding-left: 15px;
  text-transform: capitalize;
  letter-spacing: -0.5px;
}

.animal__name{
  margin: 0;
  padding-left: 16px;
  font-size: 1rem;
  text-transform: uppercase;
}

.zoos .btn{
  align-self: center;
  margin-top: 50px;
  margin-left: 23px;
}