@import '../colors.scss';
@font-face {
  font-family: 'VT323';
  src: url('../VT323-Regular.ttf');
}

.header{
  display: flex;
  margin: 0;
  padding: 10px;
  width: 100%;
  background-color: $main-dark;
}

.nav{
  display: flex;
  justify-content: space-between;
  list-style: none;

  &__element{
    padding: 10px;
    color: $main-light;
    font-family: 'VT323';
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.5s;

    &:hover{
      color: $active;
      transform: scale(1.2);
      transition: all 0.5s;
    }
    &_active{
      color: $active;
    }
  }
}