
main{  
  width: 100%;
  background: bottom left no-repeat url(../../assets/images/strelitzia\ left.png),
              100% 103% no-repeat url(../../assets/images/leave_foto_big.png);
}

.content-wrapper{
  position: relative;
  display: grid;
  grid-template-columns: repeat(12,130px);
  grid-template-rows: 112px 652px 290px 664px 1328px ;
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
}

.gorilla{
  grid-template-rows: 112px 652px 290px 664px 2297px;
}

.eagle{
  grid-template-rows: 112px 652px 290px 664px 1188px;
}

.alligator{
  grid-template-rows: 112px 652px 290px 664px 1297px;
}

.text-link{
  text-decoration: none;
  color: var(--green);
}

/* Camera and aside blocks*/
.animal-nav{ 
  position: sticky;
  top:30px;
  left: 30px;
  grid-area: 2/1/3/2;
  width: 100px;
  border-radius: 5px;
  background: var(--orange-grad);
  z-index: 900;
}

.animal-nav__list{
  padding: 10px;
  list-style: none;
}

.animal-nav__item{
  position: relative;
  margin-bottom: 3px;
}

.animal-nav__item__current:hover,
.animal-nav__item__current a
{
  cursor: default;
}

.animal-nav__item:hover svg path,
.animal-nav__item__current svg path{
  fill: var(--green);
}

.animal-nav__item:hover svg stop,
.animal-nav__item__current svg stop{
  stop-color: var(--green);
}

.animal-nav__item:hover::after{
  content: attr(data-name);
  position: absolute;
  top: 50%;
  right: 0;
  padding: 20px;
  font-weight: bold;
  background: var(--gray-smoky);
  transform: translate(110%, -50%);
}
.camera{
  grid-area: 1/3/3/12;
}

.cam-online{
  padding-top: 40px;
  position: relative;
  right: 41px;
}

.cam-online__title{
  font-size: 3rem;
  margin: 0;
  padding-bottom: 15px;
}
.cam{
  position: relative;
}

.cam::after{
  content: "LIVE";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 55px;
  height: 24px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  background: rgba(255,255,255, .5);
  z-index: 99;
}

/*Addition cameras block*/
.arrow{
  position: absolute;
  top: 105px;
  transform: translate(0,-50%);
  z-index: 3;
}

.arrow_left{
  left: -80px;
}

.arrow_right{
  right: -70px;
}

.arrow:hover circle{
  fill: var(--green);
}

.additional-cam{
  position: relative;
  left: 90px;
  top: 80px;
  grid-area: 3/2/4/11;
}

.cams{
  display: flex;
  justify-content: space-around;
}

.cams::-webkit-scrollbar{
  display: none;
}

.cam{
  position: relative;
}

.fake{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

/*About animal block*/
.about-animal{
  grid-area: 4/2/5/12;
  display: flex;
  padding-top: 125px;
  padding-left: 54px;
  border-bottom: 1px solid var(--gray);
}

.about-animal__intro_long{
  position: relative;
  padding-top: 56px;
}

.about-animal__intro_long .about-animal__title{
  position: absolute;
  width: 700px;
  top: 0;
}

.about-animal__title{
  margin: 0;
  font-size: 3rem;
  color: var(--green);
}

.about-animal__img{
  width: 421px;
  height: 421px;
  margin-top: 25px;
}

.gorilla .about-animal__img,
.eagle .about-animal__img,
.alligator .about-animal__img{
  transform: scaleX(-1);
}

.about-animal__text{
  padding-top: 73px;
  padding-left: 28px;
  width: 668px;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 36px;
  color: var(--gray);
}

.about-animal .btn{
  margin-top: 15px;
  margin-left: 32px;
}

/*Info block*/

.info{
  position: relative;
  grid-area: 5/2/6/12;
  padding-left: 90px;
  padding-top: 41px;
}

.info__piece{
  display: flex;
  align-items: flex-end;
  padding-bottom: 23px;
}

.info__title{
  margin: 0;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.info__title::after{
  content: ':';
  padding-right: 14px;
}

.info__text{
  margin: 0;
  letter-spacing: 0.1px;
}

.info__piece_multi{
  flex-direction: column;
  align-items: flex-start;
}

.info__piece_multi .info__title{
  padding-bottom: 11px;
  padding-top: 13px;
}

.info__piece_multi p:nth-child(3n){
  margin-top: 26px;
}

.info .form-btn{
  margin-top: 35px;
}

.background-img{
  position: absolute;
  bottom: 0;
}

.background-img_left{
  left:-128px;
}

.background-img_right{
  right: -170px;
  bottom: -93px;
}

.donate{
  width: 100%;
  height: 390px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: center/cover url(../../assets/images/panda-donate.png);
}

.donate .btn{
  margin-bottom: 60px;
}

 .donate_gorilla{
  background: center/cover url(../../assets/images/gorilla-donate.png);
}

 .donate_eagle{
  background: center/cover url(../../assets/images/eagle-donate.png);
  transform: scaleX(-1);
}

.donate_eagle .btn{
  transform: scaleX(-1);
}

 .donate_alligator{
  background: center/cover  no-repeat url(../../assets/images/alligator-donate.png);
  background-position: 0 10%;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {

  main{
    background: bottom left/18% no-repeat url(../../assets/images/strelitzia\ left.png),
                100% 103%/16% no-repeat url(../../assets/images/leave_foto_big.png);
  }

  .content-wrapper{
    grid-template-columns: repeat(12,1fr);
    height: 1970px;
  }

  .cam-online{
    padding-top: 19px;
    position: relative;
    right: -24px;
  }

  .cam-online__frame{
    width: 780px;
    height: 437px;
  }

  .animal-nav{
    width: 70px;
    margin-top: -20px;
    height: 438px;
  }

  .animal-nav__list{
    padding-top: 0;
    margin-top: -6px;
  }

  .animal-nav__item{
    position: relative;
    margin-bottom: -23px;
  }

  .animal-nav__item svg{
    width: 53px;
  }

  .additional-cam{
    left: 108px;
    top: -176px;
    width: 618px;
  }

  .arrow_left{
    left: 648px;
    top: 136px;
  }

  .arrow_right{
    right: -91px;
    top: 64px;
  }

  .cams{
    overflow: scroll;
    justify-content: flex-start;
  }

  .cam{
    margin-right: 30px;
  }

  .cam::after{
    top: 10px;
    left: 10px;
  }

  .cam iframe{
    width: 294px;
  }

  .about-animal{
    padding: 0;
    position: relative;
    bottom: 172px;
    right: 92px;
    border: none;
  }

  .about-animal__img{
    width: 453px;
    height: 457px;
  }

  .about-animal__text{
    padding-left: 0;
    width: 450px;
    font-size: 1.4rem;
    position: relative;
    right: 10px;
    top: 2px;
    letter-spacing: -0.2px;
    line-height: 31px;
  }

  .about-animal .btn{
    margin-top: 75px;
    margin-left: -10px;
  }

  .info{
    grid-area: 5/1/6/12;
    bottom: 218px;
    padding: 0;
    padding-left: 30px;
    height: 330px;
    width: 102%;
  }

  .info__text{
    width: 106%;
    padding-left: 5px;
  }

  .info__title::after{
    padding: 0;
  }

  .info__piece{
    align-items: baseline;
  }

  .info__piece_multi .info__title{
    padding-bottom: 23px;
  }

  .info__piece_multi .info__text{
    padding: 0;
  }

  .info__view{
    height: 301px;
    overflow: hidden;
  }

  .info .form-btn_less{
    display: none;
  }
  
  .info .form-btn_more{
    display: block;
    margin-top: -13px;
    margin-left: 3px;
  }

}

@media screen and (min-width: 640px) and (max-width: 999px) {

  main{
    background: bottom left/23% no-repeat url(../../assets/images/strelitzia\ left.png),
                100% 103%/18% no-repeat url(../../assets/images/leave_foto_big.png);
  }

  .content-wrapper{
    grid-template-columns: repeat(12,1fr);
    height: 2047px;
    max-width: 640px;
  }

  .cam-online{
    position: relative;
    padding-top: 19px;
    right: -3px;
  }

  .cam-online__title{
    font-size: 2.3rem;
    padding-top: 2px;
    letter-spacing: -0.4px;
    padding-bottom: 12px;
  }

  .cam-online__frame{
    width: 495px;
    height: 277px;
  }

  .animal-nav{
    position: relative;
    top: 0px;
    left: 20px;
    width: 70px;
    margin-top: -35px;
    height: 438px;
  }

  .animal-nav__list{
    padding-top: 0;
    margin-top: -6px;
  }

  .animal-nav__item{
    position: relative;
    margin-bottom: -23px;
  }

  .animal-nav__item svg{
    width: 53px;
  }

  .additional-cam{
    left: 55px;
    top: -389px;
    width: 390px;
  }

  .arrow{
    width: 45px;
  }

  .arrow_left{
    top: 95px;
    left: 420px;
  }

  .arrow_right{
    right: -75px;
    top: 45px;
  }

  .cams{
    overflow: scroll;
    justify-content: flex-start;
  }

  .cam{
    margin-right: 30px;
  }

  .cam::after{
    top: 7px;
    left: 6px;
    width: 37px;
    height: 15px;
    font-size: 0.6rem;
  }

  .cam iframe{
    width: 180px;
    height: 140px;
  }

  .about-animal{
    flex-direction: column;
    position: relative;
    bottom: 442px;
    right: 92px;
    padding: 0;
    border: none;
  }

  .about-animal__title,
  .about-animal__intro_long .about-animal__title {
    position: absolute;
    left: 50%;
    transform: translateX(-34%);
    width: 100%;
    top: -38px;
    text-align: center;
  }

  .about-animal__img{
    width: 393px;
    height: 392px;
  }

  .about-animal__text{
    position: relative;
    right: 10px;
    top: 2px;
    padding: 0;
    padding-left: 53px;
    padding-top: 10px;
    margin: 0;
    width: 423px;
    font-size: 1.4rem;
    letter-spacing: -0.2px;
    line-height: 31px;
  }

  .about-animal .btn{
    margin-top: 42px;
    margin-left: 192px;
  }

  .info{
    grid-area: 5/1/6/12;
    bottom: 148px;
    padding: 0;
    padding-left: 20px;
    height: 330px;
    width: 100%;
  }

  .info__view{
    height: 264px;
    overflow: hidden;
  }

  .info__text{
    width: 106%;
    padding-left: 5px;
  }

  .info__title::after{
    padding: 0;
  }

  .info__piece{
    align-items: baseline;
  }

  .info__piece:first-child{
    padding-bottom: 9px;
  }

  .info__piece_multi .info__title{
    padding-bottom: 23px;
  }

  .info__piece_multi .info__text{
    padding: 0;
  }

  .donate{
    height: 288px;
  }

  .donate .btn{
    margin-bottom: 34px;
  }

  .info .form-btn_less{
    display: none;
  }
  
  .info .form-btn_more{
    display: block;
    margin-top: 24px;
    margin-left: -2px;
  }
  
}

@media screen and (min-width: 320px) and (max-width: 639px){

  main{
    background: bottom left/26% no-repeat url(../../assets/images/strelitzia\ left.png),
                100% 101%/19% no-repeat url(../../assets/images/leave_foto_big.png);
  }

  .content-wrapper{
    grid-template-columns: repeat(12,1fr);
    height: 1626px;
    max-width: 320px;
  }

  .camera{
    grid-area: 1/1/2/12;
  }

  .cam-online{
    position: relative;
    padding-top: 18px;
    right: -10px;
  }

  .cam-online__title{
    font-size: 1.6rem;
    padding-top: 2px;
    letter-spacing: -0.9px;
    padding-bottom: 9px;
  }

  .cam-online__frame{
    width: 298px;
    height: 167px;
  }

  .animal-nav{
    position: relative;
    top: 135px;
    left: 10px;
    width: 63px;
    height: 232px;
    overflow-y: scroll;
  }

  .animal-nav__list{
    padding: 5px;
    padding-top: 0;
    margin-top: -9px;
  }

  .animal-nav__item{
    position: relative;
    margin-bottom: -27px;
  }

  .animal-nav__item svg{
    width: 50px;
  }

  .animal-nav__item:last-child{
    position: sticky;
    bottom: 0;
    padding-top: 10px;
  }

  .animal-nav__item:last-child svg{
    height: 53px;
  }

  .animal-nav::-webkit-scrollbar{
    display: none;
  }

  .additional-cam{
    left: 30px;
    top: -516px;
    width: 200px;
    height: 155px;
  }

  .arrow{
    display: none;
  }

  .cams{
    overflow: scroll;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 100%;
  }

  .cam{
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .cam::after{
    top: 3px;
    left: 3px;
    width: 19px;
    height: 9px;
    font-size: 0.3rem;
    border-radius: 2px;
  }

  .cam iframe{
    width: 89px;
    height: 67px;
  }

  .about-animal{
    flex-direction: column;
    position: relative;
    bottom: 602px;
    right: 104px;
    padding: 0;
    border: none;
  }

  .about-animal__title,
  .about-animal__intro_long .about-animal__title {
    position: absolute;
    left: 50%;
    transform: translateX(-14%);
    width: 100%;
    top: 2px;
    text-align: center;
    font-size: 1.5rem
  }

  .about-animal__img{
    width: 320px;
    height: 193px;
    object-fit: cover;
    object-position: 100% 29%;
  }

  .about-animal__text{
    position: relative;
    right: 4px;
    top: 0px;
    padding: 0;
    padding-left: 53px;
    padding-top: 0;
    margin: 0;
    width: 303px;
    font-size: 1.1rem;
    letter-spacing: -0.7px;
    line-height: 22px;
  }

  .about-animal .btn{
    margin-top: 30px;
    margin-left: 52px;
  }

  .info{
    grid-area: 4/1/5/12;
    top: 40px;
    padding: 0;
    padding-left: 10px;
    height: 330px;
    width: 100%;
  }

  .info__view{
    height: 375px;
    overflow: hidden;
  }

  .info__text{
    width: 100%;
    padding-left: 5px;
  }

  .info__title::after{
    padding: 0;
  }

  .info__piece{
    align-items: baseline;
    padding-bottom: 14px;
  }

  .info__piece:first-child{
    padding-bottom: 33px;
  }

  .info__piece_multi .info__title{
    padding-bottom: 12px;
  }

  .info__piece_multi .info__text{
    padding: 0;
    letter-spacing: 0.2px;
    line-height: 21px; 
  }

  .donate{
    height: 222px;
  }

  .donate .btn{
    margin-bottom: 10px;
  }

  .info .form-btn_less{
    display: none;
  }
  
  .info .form-btn_more{
    display: block;
    margin-top: 35px;
    margin-left: 0px;
  }
    
}