
main{  
  position: relative;
  display: grid;
  grid-template-columns: repeat(12,130px);
  grid-template-rows: 112px 652px 290px 664px 1328px 390px;
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;

}

.gorilla{
  grid-template-rows: 112px 652px 290px 664px 2297px 390px;
}
.text-link{
  text-decoration: none;
  color: var(--green);
}

/* Camera and aside blocks*/
.animal-nav{ 
  position: sticky;
  top:30px;
  left: 30px;
  grid-area: 2/1/3/2;
  width: 100px;
  border-radius: 5px;
  background: var(--orange-grad);
  z-index: 999;
}

.animal-nav__list{
  padding: 10px;
  list-style: none;
}

.animal-nav__item{
  position: relative;
  margin-bottom: 3px;
}

.animal-nav__item__current:hover,
.animal-nav__item__current a
{
  cursor: default;
}

.animal-nav__item:hover svg path,
.animal-nav__item__current svg path{
  fill: var(--green);
}

.animal-nav__item:hover svg stop,
.animal-nav__item__current svg stop{
  stop-color: var(--green);
}

.animal-nav__item:hover::after{
  content: attr(data-name);
  position: absolute;
  top: 50%;
  right: 0;
  padding: 20px;
  font-weight: bold;
  background: var(--gray-smoky);
  transform: translate(110%, -50%);
}
.camera{
  grid-area: 1/3/3/12;
}

.cam-online{
  padding-top: 40px;
  position: relative;
  right: 41px;
}

.cam-online__title{
  font-size: 3rem;
  margin: 0;
  padding-bottom: 15px;
}
.cam{
  position: relative;
}

.cam::after{
  content: "LIVE";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 55px;
  height: 24px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  background: rgba(255,255,255, .5);
  z-index: 99;
}

/*Addition cameras block*/
.arrow{
  position: absolute;
  top: 105px;
  transform: translate(0,-50%);
  z-index: 3;
}

.arrow_left{
  left: -80px;
}

.arrow_right{
  right: -70px;
}

.arrow:hover circle{
  fill: var(--green);
}

.additional-cam{
  position: relative;
  left: 90px;
  top: 80px;
  grid-area: 3/2/4/11;
}

.cams{
  display: flex;
  justify-content: space-around;
}

.fake{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 73%;
  z-index: 100;
}

/*About animal block*/
.about-animal{
  grid-area: 4/2/5/12;
  display: flex;
  padding-top: 125px;
  padding-left: 54px;
  border-bottom: 1px solid var(--gray);
}

.about-animal__intro_long{
  position: relative;
  padding-top: 56px;
}

.about-animal__intro_long .about-animal__title{
  position: absolute;
  width: 700px;
  top: 0;
}

.about-animal__title{
  margin: 0;
  font-size: 3rem;
  color: var(--green);
}

.about-animal__img{
  width: 421px;
  height: 421px;
  margin-top: 25px;
}

.about-animal__text{
  padding-top: 73px;
  padding-left: 28px;
  width: 668px;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 36px;
  color: var(--gray);
}

.about-animal .btn{
  margin-top: 15px;
  margin-left: 32px;
}

/*Info block*/

.info{
  position: relative;
  grid-area: 5/2/6/12;
  padding-left: 90px;
  padding-top: 41px;
}

.info__piece{
  display: flex;
  align-items: flex-end;
  padding-bottom: 23px;
}

.info__title{
  margin: 0;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.info__title::after{
  content: ':';
  padding-right: 14px;
}

.info__text{
  margin: 0;
  letter-spacing: 0.1px;
}

.info__piece_multi{
  flex-direction: column;
  align-items: flex-start;
}

.info__piece_multi .info__title{
  padding-bottom: 11px;
  padding-top: 13px;
}

.info__piece_multi p:nth-child(3n){
  margin-top: 26px;
}

.info .form-btn{
  margin-top: 35px;
}

.background-img{
  position: absolute;
  bottom: 0;
}

.background-img_left{
  left:-128px;
}

.background-img_right{
  right: -170px;
  bottom: -93px;
}

.donate{
  grid-area: 6/1/7/14;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: center/cover url(../../assets/images/panda-donate.png);
}

.donate .btn{
  margin-bottom: 60px;
}

.gorilla .donate{
  background: center/cover url(../../assets/images/gorilla-donate.png);
}